.search-bar{
    display:flex;
    padding: 0px 20px;    
    &__button,&__input{
        background:transparent ;
        border:1px solid #fff;
    }
    &__input{
        min-width: 50px;
        padding: 5px;
        outline:none !important;
        border-radius: 0px 5px 5px 0px;
        flex-grow: 1;
    }
    &__button{
        height:30px;
        border-radius: 5px 0px 0px 5px;
    }
    &__button:hover{
               padding-bottom: 3px;
    }
}